<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Customer</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input>
            </div>
            <div class="form-group">
                <label>Location</label>
                <input>
            </div>

            <a href="" class="btn btn-primary" ng-click="save(customer)">Create</a>
        </form>
    </div>
</div>