          <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Add Record</h3>
            </div>
            <div class="panel-body">
            <form>   
                <div class="form-group">
                    <label class="control-label" for="quantity">Quantity</label>
                    <input class="form-control" placeholder="Quantity" id="quantity" ng-model="record.quantity">
                </div>

                <div class="form-group">
                    <label>Product</label>
                    <select class="form-control" ng-model="record.product_id" ng-options="product._id as product.product_name for product in products">
                    </select>
                </div>
                <div class="form-group">
                    <label>Type</label>
                    <select class="form-control" ng-model="record.type">
                        <option>In</option>
                        <option>Out</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Customer</label>
                    <select class="form-control" ng-model = "record.customer_id">
                        <option ng-repeat = "customer in customers"value = "{{customer._id}}" >{{customer.customer_name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input ng-model = "record.date" class="form-control datepicker">
                </div>

                <div class="form-group">
                    <label>Comment</label>
                    <textarea ng-model="record.comment" class="form-control" col="50"></textarea>
                </div>


                <a href="" type="submit" class="btn btn-primary" ng-click="saveRecord()">Create</a>
                </form>
            </div>
        </div>