<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add Product</h3>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label>Name</label>
                <input ng-model="product.product_name" class="form-control">
            </div>

            <div>
                <label>Model Number</label>
                <input ng-model="product.model" class="form-control">
            </div>

            <a href=''class="btn btn-primary" ng-click="save(product)">Create</a>
        </form>
    </div>
</div>