<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">View Customers</h3>
        </div>
        <div class="panel-body">
         <table id="customers_table" class="table table-bordered">
             <thead>
               <th>Name</th>
               <th>Location</th>
               <th>Delete</th>
           </thead>
           <tbody>
            <tr ng-repeat = "customer in customers">
                <td>{{customer.customer_name}}</td>
                <td>{{customer.location}}</td>
                <td><form>
                    <input type="submit" value="Delete" class="btn btn-xs btn-danger">
                </form></td>
            </tr>
        </tbody>

    </table>
</div>
</div>

</div>
<div class="col-md-5" ng-include src="'partials/add_customer.html'">

</div>